.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
    margin: 0px 130px 0px 130px;
    background-color: rgba(0, 0, 0, 0.06);
  }
.flex{
    display: flex;
    justify-content: space-between;
}
.btn1{
  box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
height: 35px;
width: 100px;

}
.sec-1{
  border-radius: 24px;
display: flex;
background: rgb(198, 228, 214);
}
.ban-title{
  /* padding: 90px 500px 100px 55px; */
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 80px 0px 0px 55px;

}
.ban-img{
  padding: 80px 00px 90px 55px;
}
img{
  height: 310px;
  width: 410px;
}
.title-1{
  color: rgba(14, 14, 14, 0.5);
  gap: 16;
}
.title-2{
  font-size: 46px;
font-weight: 630;
}
.button-1,.button-01{
  border-radius: 8px;
  padding: 17px 34px 17px 34px;
background: rgb(0, 106, 80);
color: white;
border: none;

}
/* sec-2 */
.des-1{
  font-size: 16px;
font-weight: 400;
color: rgba(14, 14, 14, 0.7);
}
.flex-2{
  display: flex;
  gap: 24px;
}
.icon{
  justify-content: start;
width: 62px;
height: 62px;
}
.card-1{
  box-sizing: border-box;
border-radius: 16px;
padding: 32px;
background: rgba(84, 144, 245, 0.2);
}
.card-2{
  box-sizing: border-box;
border-radius: 16px;
padding: 32px;
background: rgb(198, 228, 214);
}
.card-3{
  box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
  padding: 24px;}
.buton-1{
  border-radius: 8px;
  color: white;
    background: rgb(84, 144, 245);
    border: none;
    padding: 11px 20px 11px 20px;
}
.button-2{
  border-radius: 8px;
color: white;
  background: rgb(9, 161, 92);
  border: none;
  padding: 11px 20px 11px 20px;
}
.button-3{
  border-radius: 8px;
  color: white;
    background: rgb(255, 194, 57);
    border: none;
    padding: 11px 20px 11px 20px;
}
/* dr-unus-speech */
.style-jpg{
  height: 50px;
  width: 50px;
}
.style-p{
  justify-content: start;
}
.dr-unus-speech{
padding: 48px 24px 48px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
margin-top: 35px;
}
/* recent news */
.satelite-1{
  width: 400px;
  height: 300px;
  border-radius: 24px;
}
.al-jazeera{
  height: 40px;
  width: 130px;
}
.card-01{
  display: flex;
  gap: 20px;
padding: 48px;
background-color: white;
border-radius: 24px;
}
.card-02{
  display: flex;
  gap: 20px;
padding: 48px;
background-color: white;
border-radius: 24px;
margin-top: 20px;
}
.card-03{
  display: flex;
  gap: 20px;
padding: 48px;
background-color: white;
border-radius: 24px;
margin-top: 20px;

}
/* donation */
.donation{
  width: 230px;
  height: 120px;
  padding: 30px;
  border-radius: 16px;
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
font-size: 35px;
font-weight: 600;
gap: 24px;
cursor: pointer;

}
nav div :hover{
  background-color: lightcoral;
}
.btn-2{
  background-color: rgb(198, 228, 214);
}
.position{
  gap: 22px;
  text-align: center;
}
.input-1{
 border: none; 
background: rgb(255, 255, 255);
padding: 16px 32px 17px 32px;
margin-top: 32px;
width: 850px;
height: 40px;
text-align: center;
}
.donation-button{
  margin-top: 28px;
}
/* last-sec */
.last-sec{
  border-radius: 24px;
text-align: center;
background: rgb(198, 228, 214);
padding: 80px 100px 80px 100px;
margin: 24px;

}
.input-2{
  border-radius: 8px 0px 0px 8px;
  width: 400px;
  height: 25px;
  padding: 18px 40px 18px 40px;
border: none;
background: rgb(255, 255, 255);
}
.subscribe{
  width: 120px;
height: 25px
border: none;
  color: white;
  border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);
border: none;
}
.btn-input{
  display: flex;
  text-align: center;
}
.social{
  height: 20px;
  width: 20px;
}
.icons{
  display: flex;
  margin-top: 30px;
  margin-left: 480px;
  margin-right: 200px;
  margin-bottom: 30px;
}
.end{
  text-align: center;
  
}
